#estesi{
    border-radius: 2.25rem !important;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
    font: 400;
    background-color: #f4f4f4!important;
  }
  .card#estesi>div.card-body>div.row{
    line-height: 52px;
  }
  tr#padou>td{
    padding: 0rem!important;
    background-color: white !important;
    border-top: 1px solid #fdfeff;
  }
  #fivth{
    font-family: 'Exo 2', sans-serif;
    font: 500;
    font-weight: bold;
    font-size: 20px;
    color: #ff6666;
}
tr#padou>td>img{
  height:93px;
  width: 93px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 576px) { 
  .card#estesi > div.card-body> div.row {
    line-height: 38px;
  }
  #estesi{
    margin-top: 199px;
  }
 }
