#estesi{
    border-radius: 2.25rem !important;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
    font: 400;
    background-color: #f4f4f4!important;
  }
  tr#padou>td{
    padding: 0rem!important;
  }