#avisos a,#encuentranos{
    font-family: 'Exo 2', sans-serif;
    font: 900;
    font-size: 17px;
    color: white;
}
#labelp label,#labelp p{
    font-family: 'Exo 2', sans-serif;
    font: 900;
    font-size: 13px;
    color: white;
}
.mlef {
    margin-left: .5rem !important;
}
.mrig {
    margin-right: .5rem !important;
}
#foo{
    background-color: #000000;
    /* padding-left: 30px;  */
    margin-right: 0px; 
    margin-left: 0px;
    margin-top: -33px;
    font-size: xx-small;
}
#gmm{
    display: inline-flex;
}
