<!-- <p>pagina1 works!</p> -->
<div class="container mw-100 mx-0 px-0" style="margin-bottom: 30px;">
    <div class="row" style="justify-content: center;">
        <label id="al"> Cotiza tu seguro auto <label id="facyseg">fácil y seguro</label> </label> 
    </div>
    <app-infovehiculo></app-infovehiculo>
    <app-infoasegurado></app-infoasegurado>
    <div class="row justify-content-center">
        <button id="coti" class="btn btn-primary btn-lg" [routerLink]="['/compara']" routerLinkActive="router-link-active" >¡Cotizar mi auto <label id="ahora">ahora</label>!</button>
    </div>
</div>