#btnayuda{
    background-color: chocolate;
    border-color: black;
    color: white;  
}
#logoempresa{
    width: 100px;
    height: 100px;
}
#iconomes{
    color: chocolate;
    fill: white;
    stroke: chocolate;
}
#land,.footer {
background-image: linear-gradient(to bottom, rgba(0,58,125,1) 0%, rgba(12,36,64,1) 100%);  
}
.footer>p,#pfoo,#Copyright{
color: whitesmoke;
}