#btnayuda{
    background-color: chocolate;
    border-color: black;
    color: white;  
}
#logoempresa{
    width: 100px;
    height: 100px;
}
#iconomes{
    color: chocolate;
    fill: white;
    stroke: chocolate;
}

footer{
    background-color: #000000;
}

#coti{
    font-family: 'Exo 2', sans-serif;
    font: 300;
    font-size: 40px;
    background: -webkit-linear-gradient(#FF8F48,#FF6963);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#encu{
    font-family: 'Exo 2', sans-serif;
    font: 300;
    color: #FF6963;
}

#land{
    border-color: deeppink!important;
    border-radius: 50px!important;
}
#nom{
    font-family: 'Exo 2', sans-serif;
    font: 300;

}
#ase{
    font-family: 'Exo 2', sans-serif;
    font: 400;
    font-style: italic;
    font-size: 25px;
}
hr{
    background-color:chocolate;
    height: 2px; 
}
#btnayuda{
    height: 30px;
    width: 30px;
}


#avisos a,#encuentranos,#labelp label,#labelp p, #mayorazgo,#lla,#atcli{
    font-family: 'Exo 2', sans-serif;
    font: 900;
    font-size: 17px;
    color: white;

}

