@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#btnayuda{ 
    background-image: url("assets/images/Botonayuda.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-left-width: 58px;
    border-right-width: 66px;
}
#logoempresa{
    width: 50px;
    height: 50px;
}
#iconomes{
    color: chocolate;
    fill: white;
    stroke: chocolate;
}



#coti{
    /* font-family: 'Exo 2', sans-serif;
     */
    background: -webkit-linear-gradient(#FF8F48,#FF6963);
    font: 300;
    font-size: 40px;
    border-style: none;
    /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
#encu{
    font-family: 'Exo 2', sans-serif;
    font: 300;
    color: #FF6963;
}

#nom,#inase,#inave{
  font-family: 'Exo 2', sans-serif;
  font: 300;
  font-size: 20px;

}
#ase,#seg{
    font-family: 'Exo 2', sans-serif;
    font: 400;
    font-style: italic;
    font-size: 25px;
    padding-left: 10px;
}
hr{
    background-color:chocolate;
    height: 2px; 
}
#avisos a,#encuentranos{
    font-family: 'Exo 2', sans-serif;
    font: 900;
    font-size: 17px;
    color: white;

}
#labelp label,#labelp p{
    font-family: 'Exo 2', sans-serif;
    font: 900;
    font-size: 13px;
    color: white;
}

.mlef {
    margin-left: .5rem !important;
}
.mrig {
    margin-right: .5rem !important;
}
.sa{
    font-family: 'Montserrat', sans-serif;
    font: 900;
    font-weight: bold;
    font-size: 20px;
}

#foo{
    background-color: #000000;
    padding-left: 30px; 
    margin-right: 0px; 
    margin-left: 0px;
    margin-top: -33px;
    
}


.mrtop{
margin-top: 4.5rem;;
}


select{
    background-color: white;
    border: solid black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  

  
  select.classic, .mat-form-field-wrapper {
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(  #FF8F48 , #FF6963);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    scrollbar-highlight-color: hotpink;
  }
  .classic option:hover{
    background-color: rgba(111, 111, 110, 0.7) !important;
  }
  select > option{
   background-color: #f4f4f4;
   font-family: 'Exo 2', sans-serif;
  font: 300;
  font-size: 20px;
}
  
  #rect1,#rect2,#rect3,#rect4{
    background: linear-gradient(180deg, rgba(111, 111, 110, 0.7)0%,  #6f6e6fd7 59.86%);
    padding: 5px;
  }
 
#rect1{
  margin-top: 28px;
  margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
#rect2{
  margin-top: 0px;
  margin-bottom: 28px;
  margin-left: 0px;
  margin-right: 0px;
}

#rect3{
  margin-top: 29px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#rect4{
  margin-top: 0px;
  margin-bottom: 29px;
  margin-left: 0px;
  margin-right:0px;
}


.card-img-overlay{
  margin-top: 115px;
  padding-top: 0px !important;
}


#rect2,#rect3,#rect4{
  margin-left: -6px;
}


